body {
  font-family: 'Play', sans-serif;
  margin: 0px;
  padding: 0px;
}

.jumbo {
  margin-bottom: 50px;
  padding: 150px;
  background-image: url('../css/list3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  font-size: 50px; 
  margin-right: 200px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

form {
  text-align: center;
}

.list-group-item {
  margin: auto;
  width: 500px;
  font-size: 20px;
}

#checkbox {
  margin-right: 10px;
  height: 15px;
  width: 15px;
}

#new-task {
  margin-right: 20px;
}

ul {
  list-style-type: none;
}
